* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
    font-size: 36px;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    height: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 80px;
    margin-bottom: 20px;
}

h2 {
    color: #051526;
    margin-bottom: 20px;
    font-size: 24px;
}

.sessao-maior {
    background: #f8f9fa;
    width: 100%;
    border-radius: 8px;
    padding: 30px;
    height: 400px;
}

.area-codigo {
    background: #051526;
    height:calc(100% - 80px);
    border-radius: 9px;
    padding: 20px;
    color: #ffff;
    font-size: 14px;
}

.area-resultado {
    background: #f8f9fa;
    height:calc(100% - 80px);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
}

.sessao-input {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

input {
    width: 80%;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 6px;
    color: #051526;
    border: 2px solid #94a3ba;

}

.botao {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 20px;
    text-align: center;
    transition: 0.5s;
    background-size: 100% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
           
            
          
.botao:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.botao:active {
    transform: scale(0.9);

}
         


